<h1>Animal Details</h1>

<div class="background">
<p>Name: <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Days At The Shelter: <%= @pet.days_in_captivity %></p>
<p>ID: <%= @pet.id %></p>
<p>Owner ID: <%= @pet.owner_id %></p>
</p>
</div>